@import "../variables";

/* contacto */
    .principalnosotros {background-image:url(#{$imagen-fondo});margin: 0vw 15vw;display:grid; grid-template-columns: auto auto auto;grid-template-rows:100px 300px 100px 300px 500px;align-items:stretch;
        &__titulo {display: flex;grid-column:1/4;justify-content:center;background-image: linear-gradient( $tonalidad-verde, $tonalidad-verdeclaro, $tonalidad-amarilla,);font-size:170%;align-items: center;margin:0}
        &__1 {grid-row: 2;grid-column: 1/4;margin-left: 4vw;color: $tonalidad-azul;padding-top:10px;;
            &__imagen {width:20vw;border-radius:5px;border-width:10px;border-color: $tonalidad-amarilla;border-style: solid}}
        &__subtitulo {@extend .principalnosotros__1;grid-row:3;grid-column: 2;margin: 0;font-size:3vw;}
        &__2 {@extend .principalnosotros__1;grid-row: 4;margin-right: 4vw;font-size:1.3em}
        &__3 {@extend .principalnosotros__1;grid-row: 5;margin: 0;overflow: hidden;
            &__mapa {height:500px ;width:70vw;}}

}



    @media screen and ( max-width:530px) {
        /* contacto */
        .principalnosotros {background-color: rgb(228, 228, 228);margin: 0vw;display:grid; grid-template-columns: auto auto auto;grid-template-rows:100px 450px 100px 500px 500px;align-items:stretch;
            &__titulo {display: flex;grid-column:1/4;justify-content:center;background-image: linear-gradient( $tonalidad-verde, $tonalidad-verdeclaro, $tonalidad-amarilla,);font-size:170%;align-items: center;margin:0}
            &__1 {grid-row: 2;@include contacto-items;padding-top:10px;
                &__imagen {width:40vw;height:40vw}}
            &__subtitulo {@include contacto-items;grid-row:3;grid-column: 2;margin: 0;font-size: 5vw;}
            &__2 {grid-row: 4;@include contacto-items;margin-right: 4vw;margin-left: 4vw;}
            &__3 {grid-row: 5;@include contacto-items;margin: 0;padding: 0;overflow: hidden;
                &__mapa {height:500px ;width:100vw;}}}
    }
    
    
    @media (min-width:530px) and (max-width:800px) {
        /* contacto */
        .principalnosotros {background-color: rgb(228, 228, 228);margin: 0vw;display:grid; grid-template-columns: auto auto auto;grid-template-rows:100px 300px 100px 300px 500px;align-items:stretch;
            &__titulo {display: flex;grid-column:1/4;justify-content:center;background-image: linear-gradient( $tonalidad-verde, $tonalidad-verdeclaro, $tonalidad-amarilla,);font-size:170%;align-items: center;margin:0}
            &__1 {grid-row: 2;@include contacto-items;padding-top:10px;
                &__imagen {width:30vw}}
            &__subtitulo {@include contacto-items;grid-row:3;grid-column: 2;margin: 0;font-size:5vw;}
            &__2 {grid-row: 4;@include contacto-items;margin-right: 4vw;margin-left: 4vw;}
            &__3 {grid-row: 5;@include contacto-items;margin: 0;padding: 0;overflow: hidden;
                &__mapa {height:500px ;width:100vw;}}}
    }

    @media (min-width:800px) and (max-width:1100px) {
        .principalnosotros {background-color: rgb(228, 228, 228);margin: 0vw;display:grid; grid-template-columns: auto auto auto;grid-template-rows:100px 300px 100px 300px 500px;align-items:stretch;
            &__titulo {display: flex;grid-column:1/4;justify-content:center;background-image: linear-gradient( $tonalidad-verde, $tonalidad-verdeclaro, $tonalidad-amarilla,);font-size:170%;align-items: center;margin:0}
            &__1 {grid-row: 2;@include contacto-items;padding-top:10px;
                &__imagen {width:30vw}}
            &__subtitulo {@include contacto-items;grid-row:3;grid-column: 2;margin: 0;font-size:5vw;}
            &__2 {grid-row: 4;@include contacto-items;margin-right: 4vw;margin-left: 4vw;}
            &__3 {grid-row: 5;@include contacto-items;margin: 0;padding: 0;overflow: hidden;
                &__mapa {height:500px ;width:100vw;}}}
    }