
    /* Proncipal-de-registro */
    .principalF {background-color: rgb(228, 228, 228);margin: 0vw 15vw; ;display:grid; grid-template-columns: auto auto auto;grid-template-rows:100px repeat(3,500px);align-items:stretch;}
    .principalF__titulo {display: flex;grid-column:1/4;justify-content:center;background-image: linear-gradient( #05595b, #0bacafb2, #e2d784, white);font-size:170%;align-items: center;margin:0}
    .principalF__form {grid-row:2/5;grid-column:1/4 ;display: flex;flex-direction: column;align-items:flex-start; background-color: white;}
    .principalF__form .principalF__form__botones {align-self: center;}
    .principalF__form .principalF__form__terminos {align-self: center;}
    .principalF__form__item {margin:80px 0px 30px 20vw;}
    .principalF__form__item__letra {color: #4775d1;margin-right:30px;font-size:20px;}
    .principalF__form__item__campo { border-radius: 10px; height: 25px;width:200px;padding-left:8px;}
    .principalF__form__item__campo1 {border-radius: 10px; height: 25px;width:50px;padding-left:8px;}
    .principalF__form__terminos {font-size: 15px; margin-top: 30px;}
    .principalF__form__botones { margin-top: 80px;}
    .principalF__form__botones1 { margin-right: 20px;background-color: #4775d1;border-color: black;color: white;width:150px;height:30px;border-radius:10px;font-size:12px;font-weight:lighter;}

    @media screen and ( max-width:530px) {
        .principalF {background-color: rgb(228, 228, 228);margin:0; ;display:grid; grid-template-columns: auto auto auto;grid-template-rows:100px repeat(3,500px);align-items:stretch;width: 100%;}
        .principalF__titulo {display: flex;grid-column:1/4;justify-content:center;font-size:170%;}
        .principalF__form {grid-row:2/5;grid-column:1/4 ;display: flex;flex-direction: column;align-items:flex-start; background-color: white;}
        .principalF__form .principalF__form__botones {align-self: center;}
        .principalF__form .principalF__form__terminos {align-self: center;}
        .principalF__form__item {margin:80px 0px 30px 20vw;}
        .principalF__form__item__letra {color: #4775d1;margin-right:30px;font-size:20px;}
        .principalF__form__item__campo { border-radius: 10px; height: 25px;width:200px;padding-left:8px;}
        .principalF__form__terminos {font-size: 15px; margin-top: 30px;}
        .principalF__form__botones { margin-top: 80px;}
        .principalF__form__botones1 { margin-right: 2vw;margin-top: 15px;background-color: #4775d1;border-color: black;color: white;width:20vw;height:5vw;border-radius:5px;font-size:2vw;font-weight:lighter;}
    }

    @media (min-width:530px) and (max-width:800px) {
        .principalF {background-color: rgb(228, 228, 228);margin:0; ;display:grid; grid-template-columns: auto auto auto;grid-template-rows:100px repeat(3,500px);align-items:stretch;}
        .principalF__titulo {display: flex;grid-column:1/4;justify-content:center;font-size:170%;}
        .principalF__form {grid-row:2/5;grid-column:1/4 ;display: flex;flex-direction: column;align-items:flex-start; background-color: white;}
        .principalF__form .principalF__form__botones {align-self: center;}
        .principalF__form .principalF__form__terminos {align-self: center;}
        .principalF__form__item {margin:80px 0px 30px 20vw;}
        .principalF__form__item__letra {color: #4775d1;margin-right:30px;font-size:20px;}
        .principalF__form__item__campo { border-radius: 10px; height: 25px;width:200px;padding-left:8px;}
        .principalF__form__terminos {font-size: 15px; margin-top: 30px;}
        .principalF__form__botones { margin-top: 80px;}
        .principalF__form__botones1 { margin-right: 20px;background-color: #4775d1;border-color: black;color: white;width:150px;height:30px;border-radius:10px;}
    }

    @media (min-width:800px) and (max-width:1100px) {
        .principalF {background-color: rgb(228, 228, 228);margin: 0; ;display:grid; grid-template-columns: auto auto auto;grid-template-rows:100px repeat(3,500px);align-items:stretch;}
        .principalF__titulo {display: flex;grid-column:1/4;justify-content:center;font-size:170%;}
        .principalF__form {grid-row:2/11;grid-column:1/4 ;display: flex;flex-direction: column;align-items:flex-start; background-color: white;}
        .principalF__form .principalF__form__botones {align-self: center;}
        .principalF__form .principalF__form__terminos {align-self: center;}
        .principalF__form__item {margin:80px 0px 30px 30vw;}
        .principalF__form__item__letra {color: #4775d1;margin-right:30px;font-size:20px;}
        .principalF__form__item__campo { border-radius: 10px; height: 25px;width:200px;padding-left:8px;}
        .principalF__form__terminos {font-size: 15px; margin-top: 30px;}
        .principalF__form__botones { margin-top: 80px;}
        .principalF__form__botones1 { margin-right: 20px;background-color: #4775d1;border-color: black;color: white;width:150px;height:30px;border-radius:10px;}
    }